.label {
-fx-font-family : "B Nazanin";
-fx-font-size:21px;
-fx-font-weight:bold;
}

.text-field {
-fx-font-family : "B Nazanin";
-fx-font-size:20px;
}

.text-area {
-fx-font-family : "B Nazanin";
-fx-font-size:20px;
}

.combo-box {
-fx-font-family : "B Nazanin";
-fx-font-size:20px;
}

.check-box {
-fx-font-family : "B Nazanin";
-fx-font-size:20px;
}

.column-header .label{
-fx-font-family : "B Nazanin";
-fx-font-size:17px;
}

.table-view {
-fx-font-family : "B Nazanin";
-fx-font-size:22px;
}

.table-column{
-fx-alignment:center;
}

.tab {
-fx-font-family : "B Nazanin";
-fx-font-size:20px;
}